{% extends "layout.html" %}
{% block body %}
    <form action="{{ url_for('add_credential') }}" method=post class=add-entry>
      <dl>
        <dt>Student ID / user name:
        <dd><input type=text size=20 name="name">
        <dt>Access Key:
        <dd><input type=text size=40  name="access_key">
        <dt>Secret Key:
        <dd><input type=text size=40  name="secret_key">
        <dd><input type=submit value="Add">
      </dl>
    </form>
  <ul class=entries>
  {% for entry in entries %}
    <li><h2>{{ entry.id }}</h2>{{ entry.access_key|safe }}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}
